{
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "kinesis:PutRecord",
      "Resource" : "{{ kinesis_arn }}"
    },
    {
      "Effect": "Allow",
      "Action": "iam:PassRole",
      "Resource": "{{ kinesis_cwl_role }}"
    }
  ]
}
